@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body, html {
	font-family: "Roboto Condensed", sans-serif;
	margin: 0;
	padding: 0;
	/* background-color: aquamarine; */
}

.wrapper {
	width: 1020px;
	min-width:1020px;
	margin: 0 auto;
}


.header {
	width: 100%;
	min-width: 1020px;
	background-color: #323232;
	color: #ffffff;
	height: 63px;
	font-family: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
	font-size: 12pt;
	text-align: justify;
	position: relative;
}

.nav {
	margin: 0 auto;
	height: 63px;
	min-width: 1020px;
	width: 1020px;
}

.nav-list {
	margin: 0 326px;
	width: 400px;
	height: 100%;
	padding: 0px;
	font-size: 10px;
}

.nav-list li {
	font-family: 'Lato', sans-serif;
	list-style: none;
	display: inline-block;
	line-height: 73px;
	height: 63px;
	vertical-align: bottom;
}

.logo-li {
	position: relative;
	margin-right: 1px;
}

.nav-list li a {
	text-decoration: none;
	color: #ffffff;
}

.dott {
	display: inline-block;
	width: 2px;
	background-color: #424554;
	height: 2px;
	border-radius: 50%;
	margin: 0px 9px 23px 9px;
}

.logo {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
	margin: 10px 34px 9px 34px;
	position: relative;
}

.header:after {
	content: "";
	position: absolute;
	top: 75px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 26px 45px 0px 45px;
	border-color: #323232 transparent transparent transparent;
}

.lines {
	width: 100%;
	height: 12px;
	position: relative;
	display: flex;
}

#portfolio {
	min-width: 1020px;
}

.left-line {
	display: inline-block;
	margin-left: 30px;
	margin-top: 11px;
	margin-right: 0;
	width: 410px;
	height: 1px;
	background-color: #e4e9eb;
	position: absolute;
}

.right-line {
	display: inline-block;
	width: 410px;
	height: 1px;
	background-color: #e4e9eb;
	right: 0;
	margin-right: 30px;
	margin-top: 11px;
	position: absolute;
}

.hex-line-left, .hex-line-right {
	width: 1px;
	height: 104px;
	background-color: #e4e9eb;
	display: inline-block;
	transform: translateY(-60px);
}

.hex-line-left {
	margin-right: 8px;
}

.hex-line-right {
	margin-left: 6px;
}

.hexagon-first-row {
	margin-top: 70px;
	margin-left: 99px;
	height: 220px;
}

.hexagon-second-row {
	position: relative;
	left: 11px;
	bottom: 51px;
}

.hexagon-third-row {
	position: relative;
	margin-left: 99px;
	bottom: 110px;
}

.hexagon {
	overflow: hidden;
	visibility: hidden;
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
	width: 180px;
	height: 207px;
	margin: 8px;
	display: inline-block;
}

.hexagon-layer1 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-layer2 {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	visibility: visible;
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hex-1 {
	background-image: url(assets/images/Layer\ 33@1X.png);
}

.hex-2 {
	background-image: url(assets/images/Layer\ 31@1X.png);
}

.hex-3 {
	background-image: url(assets/images/Layer\ 34@1X.png);
}

.hex-4 {
	background-image: url(assets/images/Layer\ 35@1X.png);
}

.hex-5 {
	background-image: url(assets/images/Layer\ 36@1X.png);
}

.hex-6 {
	background-image: url(assets/images/Layer\ 44@1X.png);
}

.hex-7 {
	background-image: url(assets/images/Layer\ 37@1X.png);
}

.hex-8 {
	background-image: url(assets/images/Layer\ 38@1X.png);
}

.hex-9 {
	background-image: url(assets/images/Layer\ 39@1X.png);
}

.hex-10 {
	background-image: url(assets/images/Layer\ 40@1X.png);
}

.hex-11 {
	background-image: url(assets/images/Layer\ 41@1X.png);
}

.hex-12 {
	background-image: url(assets/images/Layer\ 43@1X.png);
}

.hex-13 {
	background-image: url(assets/images/Layer\ 42@1X.png);
}

.hex-14 {
	background-image: url(assets/images/Image@1X.png);
}

.slider {
	position: relative;
	bottom: 72px;
	margin-left: 30px;
	letter-spacing: -1.4px;
}

.slider span {
	width: 6px;
	height: 6px;
	background-color: #ddd2c5;
	display: inline-block;
	margin: 0px 0px;
}

.slider .active {
	background-color: #8b8784;
}

.bottom-line {
	width: 960px;
	height: 1px;
	margin-bottom: 11px;
	margin-top: -65px;
	margin-left: 30px;
	background-color: #e4e9eb;
}

.about-block {
	width: 820px;
	height: 316px;
	margin: 0 auto;
	border-right: 1px solid #219d84;
	border-left: 1px solid #219d84;
}

#about {
	padding: 12.5px 0px;
	background-color: #2eb398;
	min-width: 1020px;
}

.avatar {
	left: 20px;
	margin-left: -100px;
}

.about-block-text {
	left: 133px;
	top: -82px;
	display: inline-block;
	position: relative;
	width: 581px;
}

.about-block-text h2 {
	font-family: 'Maven Pro', sans-serif;
	font-size: 30px;
	color: rgba(215, 252, 245, 255);
	text-align: justify;
	font-weight: normal;
	margin: 0;
}

.about-block-text h3 {
	font-family: 'Maven Pro', sans-serif;
	font-size: 18px;
	color: rgba(32, 129, 109, 255);
	text-align: justify;
	font-weight: normal;
	margin: 0;
}

.about-block-text p {
	font-size: 12px;
	color: rgba(215, 252, 245, 255);
	text-align: justify;
	font-family: 'Lato', sans-serif;
	line-height: 1.8;
	word-spacing: -0.7px;
}

.social-media {
	text-align: right;
}

.social {
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	background-color: #a5dbd4;
	margin: 0;
	color: #04ac95;
}

.fab {
	vertical-align: sub;
}

.twitter {
	background-color: #6ccbbe;
}

.google {
	background-color: #7ed0c5;
}

.dribbble {
	background-color: #6dcbbe;
}

#get-in-touch {
	padding: 13px 0px 0px 0px;
	background-color: #323232;
	min-width:1020px;
}

.footer-top-line, .footer-bot-line {
	width: 960px;
	height: 1px;
	margin-left: 30px;
	background-color: #2b2b2b;
	margin-bottom: 11px;
}

.footer-form, .footer-header {
	color: rgba(224, 224, 224, 255);
	margin-left: 120px;
	width: 580px;
}

.footer-header {
	margin-top: 45px;
}

.footer-header h2 {
	font-family: 'Maven Pro',sans-serif;
	font-size: 30px;
	color: rgba(224, 224, 224, 255);
	text-align: justify;
	font-weight: normal;
	margin:0px 0px;
}

.footer-header h3 {
	font-family: 'Maven Pro',sans-serif;
	font-size: 18px;
	color: rgba(190, 190, 190, 255);
	text-align: justify;
	font-weight: normal;
	margin:0px 0px 12px 0px;
}

.footer-form {
	display: inline-block;
}

.send {
	text-align: right;
}

.inputs {
	width: 580px;
}

.inputs>input {
	color: #fff;
	border: 1px solid #454545;
	width: 100%;
	padding: 10px 10px 10px 13px;
	font-family: 'Lato',
	sans-serif;
	font-size: 12px;
	text-align: justify;
	margin: 8px 0px;
	background-color: #454545;
	box-sizing: border-box;
}

.inputs>input::placeholder {
	color: rgba(190, 190, 190, 255);
}

.inputs>textarea {
	border: 1px solid #454545;
	width: 100%;
	padding: 10px;
	font-family: 'Lato',
	sans-serif;
	font-size: 12px;
	text-align: justify;
	margin: 10px 0px;
	background-color: #454545;
	height: 150px;
	box-sizing: border-box;
}

.inputs>textarea::placeholder {
	color: rgba(190, 190, 190, 255);
}

#send {
	width: 90px;
	height: 35px;
	background-color: #2eb398;
	color: rgba(215, 252, 245, 255);
	border: 1px solid #2eb398;
	margin-bottom: 54px;
	margin-top: 3px;
}

.footer-contacts {
	display: inline-block;
	position: relative;
	width: 180px;
	left: 16px;
	bottom: 121px;
	text-align: justify;
	font-size: 12px;
	font-family: 'Lato',sans-serif;
	color: rgba(190, 190, 190, 255);
}

.description {
	line-height: 1.8;
}

.description span {
	font-weight: bold;
	color: #e0e0e0;
}

.contacts {
	margin-top: 46px;
	font-weight: bold;
}

.fas, .far {
	color: #2eb398;
	vertical-align: text-bottom;
}

.contacts a {
	display: inline-block;
	color: rgba(190, 190, 190, 255);
	margin-left: 14px;
	margin-bottom: 10px;
	font-weight: bold;
	text-decoration: none;
}

.footer-copyright {
	background-color: #222222;
	color:#454545;
	height:43px;
}

.copyright {
	display: inline-block;
	margin: 13px 0px 15px 39px;
	font-size: 12px;
	font-family: 'Maven Pro',sans-serif;
}